# Datos
raw_data/
plots/
*.pkl
*.parquet
data/

# Entorno virtual
.venv/

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Outputs del modelo
checkpoints/
logs/
results/

# Windows metadata
*Zone.Identifier

# runs queue
runs_queue.sh
runs_log.txt

# claude 
CLAUDE.md